<div class="jumbotron text-center">
  <h1>Mean App</h1>
  <p class="lead">Welcome to mean</p>

<a class="btn btn-primary" [routerLink]="['/register']">Register</a>&nbsp;<a class="btn btn-success" [routerLink]="['/login']">Login</a>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express backend</h3>
    <p>NodeJs/ express</p>
  </div>
  <div class="col-md-4">
    <h3>angular cli</h3>
    <p>angular cli</p>
  </div>
  <div class="col-md-4">
    <h3>jwt token</h3>
    <p>json web token</p>
  </div>
</div>
